
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width:none;
        
}

body {

    background-image: url(https://i8.glitter-graphics.org/pub/1484/1484148zqdhp81pu8.gif);
    background-attachment: fixed;
    background-position: center;
    color:blueviolet;
    padding-top: 30px;
    min-height: 100vh;
}

.header {
    background-color:rgb(77, 15, 60);
    position:sticky;
    top:0 ;
    border-bottom: 5px dotted rgb(237, 24, 202)  ;
    
}
.container {
    border: 5px solid rgb(165,14 , 140);
    border-bottom: 25px solid rgb(165,14 , 140) ;
    border-radius: 10px;
    width: 90%;
    scrollbar-width:none;
    text-align:center;
    margin: 0 auto;
    min-height: 600px;
    
    }

.boxes {
    display:flex;
    justify-content: space-between;
    min-height: 600px;
    
    
    
}
.miniheader {
    background-color:rgb(56, 16, 36);
    border-bottom: 3px solid rgb(165,14 , 140); 
   
}

#box1 {
    border: 2px solid rgb(165, 14, 140);
    width: 250px;
    border-right:5px dotted rgb(237, 24, 202);
    border-top:none;
    
      
    
}

#box2 {
    border: 2px solid rgb(165, 14, 140);
    width:250px;
    border-left:5px dotted rgb(237, 24, 202);
    border-top:none;
    
    
    
    
}
#box3 {
    font-size: 1.2em;

}
img {
    height: 550px; 
    width: 650px;
    border: 3px dashed rgb(108, 3, 101);
    border-radius: 10px;
    
    
}

.navigation {
    
    padding: 10px;
    display: block;
    
    

}

.navigation a {
    display:block; 
    text-decoration:none;
    padding: 10px 15px;
    text-align: start;
    border: 2px solid rgb(165,14 , 140);
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(56, 16, 36);
    color:blueviolet;
    
    
}

.navigation a:hover {
background-color: rgb(83, 24, 54);
}

.navigation a.active {
    background-color: rgb(83, 24, 54);
}

.links {
display:block;
padding: 10px;

}

.links a {
display:block;
text-decoration:none;
color:blueviolet;
margin-bottom: 25px;
padding: 10px 15px;
border: 2px solid rgb(165,14 , 140);
background-color: rgb(56, 16, 36);
text-align: start;
margin-top: 25px;

}

.links a:hover {
background-color: rgb(83, 24, 54);
} 
